<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/footer.css">
</head>
<body>

<h1>hgfd</h1>
<h1>hgfds</h1>
<h1>gfsda</h1>













    <div>
        <img class="image" src="https://www.pashabank.az/templates/images/red_bottom_bg.webp" alt="">
    </div>








     <div class="drap">
        <div class="container">
            <div class="row"> 

    <div class="dropup col-sm-3 col-md col-sm-3  col-12 col">
        <button class="btn word dropdown-toggle dropup-toggle" type="button" id="dropupMenu2" data-toggle="dropup" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-phone"></i>  Filiallar və bankomatlar
        </button>
        <div class=" word dropup-content">
            <a href="#">Baş ofis</a> <hr>
            <a href="#">Filiallar</a> <hr>
            <a href="#">Bankomatlar və Avtomatik valyuta dəyişmə terminalları</a> <hr>
        </div>
        </div>


    <div class="dropup col-sm-3 col-md  col-12 col">
        <button class="btn dropup-toggle dropdown-toggle"  type="button" id="dropupMenu2" data-toggle="dropup" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-globe-americas"></i> Əməliyyat ölkələri
        </button>
        <div class="word word2 map-sections dropup-content ">
            <a class="language" href="#">Azərbaycan </a> <hr>
            <a href="#">Türkiye</a> <hr>
            <a href="#">Gürcüstan</a> <hr>
        </div>
        </div>



            <div class="none1 none-selection word dropup-content">
                <a href="#">Baş ofis</a> <hr>
                <a href="#">Filiallar</a> <hr>
                <a href="#">Bankomatlar və Avtomatik valyuta dəyişmə terminalları</a> <hr>
            </div>

    
    

            <div class="none2 none-selection word word2 map-sections dropup-content ">
                <a class="language" href="#">Azərbaycan </a> <hr>
                <a href="#">Türkiye</a> <hr>
                <a href="#">Gürcüstan</a> <hr>
            </div>

    


    <div class="dropup col-sm-3 col-md  col-12 col">
        <button class="btn" type="button" id="dropupMenu2" data-toggle="dropup" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-map-marker-alt"></i>  Maliyyə hesabatları 
        </button>
        </div>

    <div class="dropup col-sm-3 col-md  col-12 col">
        <button class="btn " type="button" id="dropupMenu2" data-toggle="dropup" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-comment-alt"></i> Təklif və şikayətlər
        </button>
        </div>

    </div>
    </div>
    </div>  


    




    
    <footer class="footer">

        <div class="basic">
            <div class="container">
                <div class="row">
                    <div class=" div1 col-sm-4 col-md col-sm-4  col-12 col">
                        <h5 class="headin5_amrc col_white_amrc pt2"></h5>

                        <b> <li> <a class="mb10 fot1" href="https://www.pashabank.az/about_us/lang,az/">Haqqimizda</a> </li> </b>
        
                        <li> <a class="mb10 fot1" href="https://www.pashabank.az/about_us/lang,az/#!/about_us/">Haqqimizda</a> </li>

                        <li> <a class="mb10 fot1" href="https://www.pashabank.az/about_us/lang,az/#!/mission_and_goals/">Missiya və məqsədlər</a> </li>

                        <li> <a class="mb10 fot1" href="https://www.pashabank.az/about_us/lang,az/#!/shareholders/">İdarəetmə</a> </li>

                        <li> <a class="mb10 fot1" href="https://www.pashabank.az/about_us/lang,az/#!/structure/">Struktur</a> </li>

                        <li> <a class="mb10 fot1" href="https://www.pashabank.az/careers/lang,az/">Karyera</a> </li>

                        <li> <a class="mb10 fot1" href="https://www.pashabank.az/contacts,735/lang,az/">Əlaqə</a> </li>

                        <li> <a class="mb10 fot1" href="https://www.pashabank.az/banklar_arasi_muxbir_elaqeler/lang,az/">Banklar arası müxbir əlaqələr</a> </li>

                        <li> <a class="mb10 fot1" href="https://www.pashabank.az/citizenship/lang,az/">Sosial Məsuliyyət</a> </li>

                        <li> <a class="mb10 fot1" href="https://www.pashabank.az/about_us/lang,az/#!/policy_and_reporting/">Siyasət və hesabatlılıq</a> </li>

                        <li> <a class="mb10 fot1" href="https://www.pashabank.az/about_us/lang,az/#!/financial_reports/">Maliyyə hesabatları</a> </li>

                        <li> <a class="mb10 fot1" href="https://www.pashabank.az/about_us/lang,az/#!/sustainability/">Davamlı inkişaf</a> </li>

                        <li> <a class="mb10 fot1" href="https://www.pashabank.az/about_us/lang,az/#!/risk_management/">Risklərin idarə olunması</a> </li>


        
        
                    </div>
        
        
                    <div class=" col-sm-4 col-md  col-12 col">
            <h5 class="headin5_amrc col_white_amrc pt2"></h5>

            <b> <li> <a class="mb10 fot1" href="">Korporativ Bankçılıq</a> </li> </b>
        
            <li> <a class="mb10 fot1" href="">Hesablaşma-kassa xidmətləri</a> </li>
         
            <li> <a class="mb10 fot1" href="">Depozitlər</a> </li>
            
            <li> <a class="mb10 fot1" href="">İnkassasiya</a> </li>
            
            <li> <a class="mb10 fot1" href="">Bank Seyfləri</a> </li>
            
            <li> <a class="mb10 fot1" href="">Bank Kartları</a> </li>
            
            <li> <a class="mb10 fot1" href="">Korporativ Kreditləşmə</a> </li>
            
            <li> <a class="mb10 fot1" href="">Faktorinq xidmətlər</a> </li>
            
            <li> <a class="mb10 fot1" href="">Sənədli Əməliyyatlar</a> </li>
            
            <li> <a class="mb10 fot1" href="">Ekvaryinq (POST Terminal) Xidmətləri</a> </li>
            
            <li> <a class="mb10 fot1" href="">Distand bank xidmətləri</a> </li>
            
            <li> <a class="mb10 fot1" href="">Qeyri-maliyyə xidmətləri</a> </li>
 
            <li> <a class="mb10 fot1" href="">Ümumi Şərtlər Toplusu və ona əlavələr</a> </li>
                    </div>
        
        
                    <div class=" col-sm-4 col-md  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2"></h5>

       <b> <li> <a class="mb10 fot1" href="">Kİçik və Orta Biuznes</a> </li> </b>
         
        <li> <a class="mb10 fot1" href="">Biznes üçün xidmətlər</a> </li>
         
        <li> <a class="mb10 fot1" href="">Kreditlər</a> </li>
         
        <li> <a class="mb10 fot1" href="">Faktorinq</a> </li>
         
        <li> <a class="mb10 fot1" href="">Sənədli əməliyyatlar</a> </li>

        <li> <a class="mb10 fot1" href="">Digər xidmətlər</a> </li>

                    </div>
        
        
                    <div class=" col-sm-4 col-md  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2"></h5>
        
        <li> <b> <a class="mb10 fot1" href="">İnvestisiya Bankçılığı</a> </li> </b>
         
        <li> <a class="mb10 fot1" href="">Səhmlərin buraxılması, idarə olunması və alınması</a> </li>
         
        <li> <a class="mb10 fot1" href="">İstiqrazların buraxılması, idarə olunması və alınması</a> </li>
         
        <li> <a class="mb10 fot1" href="">Qapalı yerləşdirmə</a> </li>
         
        <li> <a class="mb10 fot1" href="">Maliyyə məsləhətlərinin verilməsi</a> </li>

        <li> <a class="mb10 fot1" href="">Valyuta mübadiləsi</a> </li>

        <li> <a class="mb10 fot1" href="">Törəmə maliyyə alətəri (derivativlər)</a> </li>

        <li> <a class="mb10 fot1" href="">Qiymətli kağızların alışı və satışının icra edilməsi</a> </li>

        <li> <a class="mb10 fot1" href="">Qiymətli kağızların alışı və satışı üzrə əqdlər</a> </li>




                    </div>
        </div>

        </div>






        <div class="container bottom_border">
            <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
            <h5 class="headin5_amrc col_white_amrc pt2"></h5>
    
           <b> <li> <a class="mb10 fot1" href="">Maliyyə İnstitutları</a> </li> </b>
            
           <li> <a class="mb10 fot1" href="">Müxbir hesablar</a> </li>
            
           <li> <a class="mb10 fot1" href="">Valyuta Mübadilə Əməliyyatları</a> </li>
            

            </div>
            
            
            <div class=" col-sm-4 col-md  col-12 col">
            <h5 class="headin5_amrc col_white_amrc pt2"></h5>
    
            <b> <li> <a class="mb10 fot1" href="">Fərdi Bankçılıq</a> </li> </b>
            
            <li> <a class="mb10 fot1" href="">Private Banking</a> </li>
             
            <li> <a class="mb10 fot1" href="">Hesablaşma-kassa xidmətləri</a> </li>
             
            <li> <a class="mb10 fot1" href="">Depozitlər</a> </li>
             
            <li> <a class="mb10 fot1" href="">Bank Seyfləri</a> </li>
             
            <li> <a class="mb10 fot1" href="">Bank Kartları</a> </li>
             
            <li> <a class="mb10 fot1" href="">Distand bank xidmətləri</a> </li>

            <li> <a class="mb10 fot1" href="">Əlaqə Mərkəzi</a> </li>
             
            <li> <a class="mb10 fot1" href="">Kreditlər</a> </li>
             
            <li> <a class="mb10 fot1" href="">Fərdi müştərilər üçün Mobil əlavə</a> </li>
             
            <li> <a class="mb10 fot1" href="">Endirim Platforması</a> </li>
             
            <li> <a class="mb10 fot1" href="">Onlayn xidmətlər</a> </li>
     
            <li> <a class="mb10 fot1" href="">Ümumi Şərtlər Toplusu</a> </li>
            </div>
            
            
            <div class=" col-sm-4 col-md  col-12 col">
            <h5 class="headin5_amrc col_white_amrc pt2"></h5>
    
           <b> <li> <a class="mb10 fot1" href="">Xəbərlər</a> </li> </b>
             
            <li> <a class="mb10 fot1" href="">Press-relizlər</a> </li>
             
            <li> <a class="mb10 fot1" href="">Bülleten</a> </li>
    
            </div>
            
            
            <div class=" col-sm-4 col-md  col-12 col">
            <h5 class="headin5_amrc col_white_amrc pt2"></h5>
            
            <li> <b> <a class="mb10 fot1" href="">Əlaqə</a> </li> </b>
             
            <li> <a class="mb10 fot1" href="">Ünvan</a> </li>
             
            <li> <a class="mb10 fot1" href="">Müxbir əlaqələr</a> </li>
             
            <li> <a class="mb10 fot1" href="">Təklif və Şikayətlər</a> </li>

            </div>
            </div>
            </div>






            <div class="container">
                <div class="row">
                <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2"></h5>
        
               <li> <a class="mb10 fot1" href="">Sayıtın xəritəsi</a> </li>
                
               <li> <a class="mb10 fot1" href="">Məxfilik haqqında bəyanat</a> </li>
                
               <li> <a class="mb10 fot1" href="">İstifadə qaydaları</a> </li>
                
    
                </div>
                
                
                <div class=" col-sm-4 col-md  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2"></h5>

                <li> <b><p class="line">Əlaqə</p> </b> </li> 

                <li> <p class="line3">13, Yusif Məmmədəliyev küç. <br> Bakı, AZ1005, Azərbaycan</p> </li> 

                <li> <p class="line3">Korporativ müştərilər üçün: <br> *8123 / (+994 12) 496 50 04  </p> </li>
              
                <li> <p class="line3">Fərdi müştərilər üçün: <br> *9123 / (+99 412) 496 50 00 </p> </li> 

                <li> <p class="line3">Baş ofis: (+994 12) 496 51 00 <br> F: (+994 12) 496 50 10 <br> E: <a class="line3" href="https://www.pashabank.az/contact_centre/lang,az/">customer.care@pashabank.az</a>  </p> </li> 


                
                
                


                </div>
                
                
                <div class=" col-sm-4 col-md  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2"></h5>
        
              <li> <b><p>Bizimlə əlaqə saxlayın</p> </b> </li> 
               <li> <p class="line1">Ən son məlumatları buradan izləyin: </p> </li> 
                 <div class="icon">
                <a href="https://www.facebook.com/pashabank/" title="Facebook" target="=_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>  
                
                 <a href="https://twitter.com/pashabank" title="Twitter" target="=_blank">
                    <i class="fab fa-twitter"></i>
                </a>

                <a href="https://www.linkedin.com/company/pasha-bank" title="Linkedln" target="=_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>

                <p class="line2">Mobil əlavəni yükləmək: </p> 

                <a href="https://apps.apple.com/az/app/pasha-mobile-bank/id1139683794" title="App Store" target="=_blank">
                    <i class="fab fa-apple"></i>
                </a>

                <a href="https://cdn.icon-icons.com/icons2/836/PNG/512/Android_icon-icons.com_66772.png" title="Google PLay" target="=_blank">
                    <i class="fab fa-android"></i>
                </a>


        
                </div>
                
                
                <div class=" col-sm-4 col-md  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2"></h5>
                
              <li> <p class="line3 bank">Bank Azərbaycan Respublikası Mərkəzi Bankının 250 saylı 28 noyabr 2007-ci il tarixli lisenziyası əsasında fəaliyyət göstərir</p> </li> 
                
               <li> <p class="line3">© 2007-2021 PASHA Bank</p> </li> 
                
               <li> <p>  <a class="line3" href="http://www.mediadesign.az/az/">Powered by MediaDesign</a> </p> </li> 
    
                </div>
                </div>
                </div>
            </div>
        
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>